/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

* {
    margin: 0;
}

body {
    font-size: 16px;
    font-family: Roboto;
    color: 1A1A1A;
}

nav {
    width: 100%;
    height: 4rem;
    position: fixed;
    top: 0;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: small;
    padding: 0 1rem;
}

.spotify-logo {
    height: 2rem;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding-right: 3rem;
}

nav li {
    padding: 0.5rem;
}

nav a {
    text-decoration: none;
    color: black
}

header {
    margin-top: 4rem;
    width: 100%;
    height: 30rem;
    background-image: url("/images/landing.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


header h1 {
    color: #FFF;
    font-size: 2.7rem;
    font-weight: 500;
    margin-bottom: 1em;
}

header p {
    color: #FFF;
    font-size: 1rem;
    font-weight: 200;
    width: 23rem;
    text-align: center;
}

#whats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: auto;
    margin: 2rem 1rem;
    width: 100;
}

#whats h3 {
    font-size: larger;
    font-weight: 500;
    letter-spacing: 0.03rem;
    padding-bottom: 0.2rem;
    border-bottom: 2.5px solid #00B172;
    margin-bottom: 1rem;;
}

#whats > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50rem;
}

#whats > div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem;
}

#whats img {
    height: 3rem;
}

#whats h5 {
    font-size: 1rem;
    text-align: center;
    margin: 1rem;
    color: #00B172;
}

#whats p {
    height: auto;
    text-align: center;
}

#example {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #00B172;
    height: 35rem;
    padding: 1em 0em 1em 2em;
    position: relative;
}

#example > img {
    height: 5rem;
    position: absolute;
    top:46%;
    left: 46%;
}

#example > div > img {
    height: 30rem;
    margin: 2rem 0rem 2rem 2rem;
}

#example > div  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1em;
}

#example h3 {
    color: white;
    font-size: larger;
    font-weight: 400;
    letter-spacing: 0.03rem;
    padding-bottom: 0.2rem;
    border-bottom: 2.5px solid white;
    margin-bottom: 2.5rem;
}

#example h5 {
    color: white;
    font-size: large;
    font-weight: 400;
    margin-bottom: 1rem;
}

#example p {
    color: white;
    margin-bottom: 1rem;
    font-weight: 200;
    width: 15rem;
}

@media only screen and (max-width:768px) {

    nav {
        width: 100%;
        height: 2rem;
        position: fixed;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: small;
    }
    
    .spotify-logo {
        height: 1rem;
    }
    
    nav ul {
        display: none;
    }

    header {
        margin-top: 2rem;
        width: 100%;
        height: 20rem;
        background-image: url("/images/landing.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header h1 {
        color: #FFF;
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 1em;
    }

    header p {
        color: #FFF;
        font-size: 1rem;
        font-weight: 200;
        width: 15rem;
        text-align: center;
    }

    #whats {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: auto;
        margin: 1.5rem 0 0rem 0;
    }
    
    #whats h3 {
        font-size: smaller;
        font-weight: 500;
        letter-spacing: 0.03rem;
        padding-bottom: 0.2rem;
        border-bottom: 2.5px solid #00B172;
        margin-bottom: 0.5rem;;
    }
    
    #whats > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 10rem;
        height: auto;
    }
    
    #whats > div > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2rem 0.5rem;
        height: auto;
    }
    
    #whats img {
        height: 2rem;
    }
    
    #whats h5 {
        font-size: 0.8rem;
        text-align: center;
        margin-top: 0.3rem;
        color: #00B172;
        height: auto;
    }
    
    #whats p {
        font-size: 0.8rem;
        text-align: center;
        height: auto;
    }
    
    #example {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: #00B172;
        height: auto;
        padding: 0.5em 0em 0.5em 0em; 
        width: 100%;
    }
    
    #example > img {
        display: none;
    }
    
    #example > div > img {
        height: 15rem;
        margin: 2rem 2rem 2rem 2rem;
    }
    
    #example > div  {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0.5em;
    }
    
    #example h3 {
        color: white;
        font-size: smaller;
        font-weight: 400;
        letter-spacing: 0.03rem;
        padding-bottom: 0.2rem;
        border-bottom: 2.5px solid white;
        margin: 2rem 0 2rem 0;
    }
    
    #example h5 {
        color: white;
        font-size: smaller;
        font-weight: 400;
        margin-bottom: 0.5rem;
    }
    
    #example p {
        color: white;
        font-size: 0.8rem;
        margin-bottom: 2rem;
        font-weight: 200;
        text-align: center;
        width: 8rem;
    }
}
